@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main {
  background-image: url("Images/potifolio\ background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
.root{
    --main-blue: #3a6cf4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    width: 100%;
    background-color: #f0f0f0;
    justify-content: space-between;
    position: fixed;
    padding: 10px 200px;
    z-index: 999;
}

.skills {
  background: linear-gradient(to bottom, #6a11cb, #2575fc);
}

.logo {
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 700;
    color: #3a6cf4;
    text-transform: uppercase;
}

.navigation a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    color: #3a6cf4;
    margin-left: 30px;
}

.navigation a:hover {
    color: #653af4;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 100px 200px;
}

.main h2 {
    font-size: 2.5em;
    font-weight: 600;
}

.main h2 span {
    color: #3a6cf4;
    font-size: 1.3em;
    font-weight: 800;
}

.main h3 {
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: 500;
}

.social-icons {
    margin-top: 25px;
}

.social-icons a {
    color: #3a6cf4;
    font-size: 1.8em;
    margin-right: 20px;
}

.skills {
    padding: 100px 200px;
    background-color: #f9f9f9;
}

.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 50px;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    background-color: white;
    width: 280px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    transition: 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.icon {
    font-size: 3em;
    color: #3a6cf4;
    margin-bottom: 15px;
}

.info h3 {
    color: #3a6cf4;
    font-size: 1.3em;
    font-weight: 700;
}

.projects,
.contact {
    padding: 100px 200px;
}


.project-img {
    height: 180px;
    object-fit: cover;
    width: 100%;
}

.main {
    color: white;
}

.projects {
    background: linear-gradient(to bottom, #2575fc, #6a11cb);
}

.contact {
    background: linear-gradient(to bottom, #6a11cb, #000000);
}

.projects .title {
    color: #6a11cb;
}